.menu_container {

    background-color: rgb(29, 51, 55);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    top: 0%;
    right: 0%;
    z-index: 4;
    height: 100vh;
    width: 0px;
    overflow: hidden;

    opacity: 0;
    transform: translate(0%, 0%);
    transition: all 1.1s ease 0.3s;
}

.menu_container.active {

    width: 300px;
    opacity: 1;
    transform: translate(0%, 0%);
    transition: all 1.1s ease 0.3s;
}

ul {

    list-style: none;
    font-size: 60px;
}

@media only screen and (max-width: 1250px) {

    .menu_container {

        background-color: rgb(29, 51, 55);
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        top: 0%;
        right: 0%;
        z-index: 4;
        height: 100vh;
        width: 0px;
    
        transform: translate(0%, 0%);
        transition: all 1.1s ease 0.3s;
    }
    
    .menu_container.active {
        
        width: 250px;
        transform: translate(0%, 0%);
        transition: all 1.1s ease 0.3s;
    }

    ul {

        list-style: none;
        font-size: 40px;
    }

}

@media only screen and (max-width: 700px) {

    .menu_container {

        background-color: rgb(29, 51, 55);
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        top: 0%;
        right: 0%;
        z-index: 4;
        height: 100vh;
        width: 0px;
    
        transform: translate(0%, 0%);
        transition: all 1.1s ease 0.3s;
    }
    
    .menu_container.active {
        
        width: 160px;
        transform: translate(0%, 0%);
        transition: all 1.1s ease 0.3s;
    }

    ul {

        list-style: none;
        font-size: 20px;
    }

}