.item {

    width: 100%;    
    height: 100vh;
    position: relative;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.content_conteiner {

    background: linear-gradient(rgba(244,246,245,0.0), rgba(35, 80, 59, 0.3));
    position: absolute;
    padding: 2%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    z-index: 2;
    max-width: 1000px;
    max-height: auto;
    border-radius: 10px;

    transform: translate(-60%, -50%);
    opacity: 0;
    transition: all 0.5s ease 0.5s;
}

.content_conteiner.active {

    background: linear-gradient(rgba(244,246,245,0.0), rgba(35, 80, 59, 0.3));
    position: absolute;
    padding: 2%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    z-index: 2;
    width: 1000px;
    max-height: auto;
    border-radius: 10px;

    transform: translate(-60%, -55%);
    opacity: 1;
}

.content_name {

    font-size: 150px;
    -webkit-text-stroke: 3px rgb(195, 190, 190);
    color: rgba(244,246,245,0.0);
    white-space: nowrap;

    transform: translate(0%, 20%);
    opacity: 0;
    transition: all 0.8s ease 0.8s;
}

.content_name.active {

    font-size: 150px;
    -webkit-text-stroke: 3px rgb(195, 190, 190);
    color: rgba(244,246,245,0.0);
    white-space: nowrap;
    
    transform: translate(0%, 0%);
    opacity: 1;
}

.content_title {

    margin: 0px 0px 1% 0px;
    font-size: 80px;
    white-space: nowrap;

    transform: translate(0%, 20%);
    opacity: 0;
    transition: all 0.10s ease 0.10s;
}

.content_title.active {

    margin: 0px 0px 1% 0px;
    font-size: 80px;
    
    transform: translate(0%, 0%);
    opacity: 1;
}

.content_contents {

    margin: 0px 0px 1% 0px;
    font-size: 40px;
    
    transform: translate(0%, 20%);
    opacity: 0;
    transition: all 0.10s ease 0.10s;
}

.content_contents.active {

    margin: 0px 0px 1% 0px;
    font-size: 40px;
    
    transform: translate(0%, 0%);
    opacity: 1;
}

@media only screen and (max-width: 1250px) {

    .content_name {

       font-size: 75px;
       -webkit-text-stroke: 3px rgb(195, 190, 190);
       color: rgba(244,246,245,0.0);
       white-space: nowrap;
   
       transform: translate(0%, 20%);
       opacity: 0;
       transition: all 0.8s ease 0.8s;
   }
   
   .content_name.active {
   
       font-size: 75px;
       -webkit-text-stroke: 3px rgb(195, 190, 190);
       color: rgba(244,246,245,0.0);
       white-space: nowrap;
       
   
       transform: translate(0%, 0%);
       opacity: 1;
   }

   .content_title {

       margin: 0px 0px 1% 0px;
       font-size: 40px;
       white-space: nowrap;
   
       transform: translate(0%, 20%);
       opacity: 0;
       transition: all 0.10s ease 0.10s;
   }
   
   .content_title.active {
   
       margin: 0px 0px 1% 0px;
       font-size: 40px;
       
   
       transform: translate(0%, 0%);
       opacity: 1;
   }

   .content_contents {

       margin: 0px 0px 1% 0px;
       font-size: 20px;
       
   
       transform: translate(0%, 20%);
       opacity: 0;
       transition: all 0.10s ease 0.10s;
   }
   
   .content_contents.active {
   
       margin: 0px 0px 1% 0px;
       font-size: 20px;
       
   
       transform: translate(0%, 0%);
       opacity: 1;
   }

   .content_conteiner {

       background: linear-gradient(rgba(244,246,245,0.0), rgba(35, 80, 59, 0.3));
       position: absolute;
       padding: 2%;
       top: 50%;
       left: 50%;
       margin-right: -50%;
       z-index: 2;
       max-width: 500px;
       max-height: auto;
       border-radius: 10px;
   
       transform: translate(-60%, -50%);
       opacity: 0;
       transition: all 0.5s ease 0.5s;
   }
   
   .content_conteiner.active {
   
       background: linear-gradient(rgba(244,246,245,0.0), rgba(35, 80, 59, 0.3));
       position: absolute;
       padding: 2%;
       top: 50%;
       left: 50%;
       margin-right: -50%;
       z-index: 2;
       width: 500px;
       max-height: auto;
       border-radius: 10px;
   
       transform: translate(-60%, -55%);
       opacity: 1;
   }
}

@media only screen and (max-width: 700px) {

    .content_name {

       font-size: 55px;
       -webkit-text-stroke: 3px rgb(195, 190, 190);
       color: rgba(244,246,245,0.0);
       white-space: nowrap;
   
       transform: translate(0%, 20%);
       opacity: 0;
       transition: all 0.8s ease 0.8s;
   }
   
   .content_name.active {
   
       font-size: 55px;
       -webkit-text-stroke: 3px rgb(195, 190, 190);
       color: rgba(244,246,245,0.0);
       white-space: nowrap;
       
   
       transform: translate(0%, 0%);
       opacity: 1;
   }

   .content_title {

       margin: 0px 0px 1% 0px;
       font-size: 30px;
       white-space: nowrap;
   
       transform: translate(0%, 20%);
       opacity: 0;
       transition: all 0.10s ease 0.10s;
   }
   
   .content_title.active {
   
       margin: 0px 0px 1% 0px;
       font-size: 30px;
       
   
       transform: translate(0%, 0%);
       opacity: 1;
   }

   .content_contents {

       margin: 0px 0px 1% 0px;
       font-size: 15px;
       
   
       transform: translate(0%, 20%);
       opacity: 0;
       transition: all 0.10s ease 0.10s;
   }
   
   .content_contents.active {
   
       margin: 0px 0px 1% 0px;
       font-size: 15px;
       
   
       transform: translate(0%, 0%);
       opacity: 1;
   }

   .content_conteiner {

       background: linear-gradient(rgba(244,246,245,0.0), rgba(35, 80, 59, 0.3));
       position: absolute;
       padding: 2%;
       top: 50%;
       left: 50%;
       margin-right: -50%;
       z-index: 2;
       max-width: 250px;
       max-height: auto;
       border-radius: 10px;
   
       transform: translate(-60%, -50%);
       opacity: 0;
       transition: all 0.5s ease 0.5s;
   }
   
   .content_conteiner.active {
   
       background: linear-gradient(rgba(244,246,245,0.0), rgba(35, 80, 59, 0.3));
       position: absolute;
       padding: 2%;
       top: 50%;
       left: 50%;
       margin-right: -50%;
       z-index: 2;
       width: 250px;
       max-height: auto;
       border-radius: 10px;
   
       transform: translate(-60%, -55%);
       opacity: 1;
   }
}