.conteiner_inscription {

    position: absolute; 
    display: flex;
    /*Внутренние элементы в строку*/
    flex-direction: row;
     /*Выравнивание по цетру внутренних элементов*/
    justify-content: center;
    /*Выравнивание по высоте внутренних элементов*/
    align-items: center;
    white-space: nowrap;
    height: auto;
    width: auto;
    left: 5%;
    top: 3%;
    z-index: 3;

}

.conteiner_inscription p{

    font-size: 24px;
 
 }

 .inscription {

    /*Выравнивание по высоте*/
    max-width: 150px;
    max-height: auto;

}

@media only screen and (max-width: 1250px) {

    .conteiner_inscription p{

        font-size: 20px;
     
     }
}

@media only screen and (max-width: 700px) {

    .conteiner_inscription p{

        font-size: 15px;
     
     }
}