.content_social {

    margin: 3% 3% 3% 3%;
    font-size: 80px;
    color: rgb(195, 190, 190);
    
    transform: translate(0%, 20%);
    opacity: 0;
    transition: all 0.10s ease 0.10s;
}

.content_social.active {

    margin: 3% 3% 3% 3%;
    font-size: 50px;
    color: rgb(195, 190, 190);
    display: flex;
    
    transform: translate(0%, 0%);
    opacity: 1;
}

.social_png {

    margin: 3% 3% 3% 3%;
    width: 50px;
    height: auto;
    display: flex;
}

@media only screen and (max-width: 1250px) {
   
    .content_social {

       margin: 3% 3% 3% 3%;
       font-size: 40px;
       
   
       transform: translate(0%, 20%);
       opacity: 0;
       transition: all 0.10s ease 0.10s;
   }
   
   .content_social.active {
   
       margin: 3% 3% 3% 3%;
       font-size: 40px;
       display: flex;
       
   
       transform: translate(0%, 0%);
       opacity: 1;
   }

   .social_png {

       margin: 3% 3% 3% 3%;
       width: 25px;
       height: auto;
       display: flex;
   }
}

@media only screen and (max-width: 700px) {

    .content_social {

       margin: 3% 3% 3% 3%;
       font-size: 15px;
       
   
       transform: translate(0%, 20%);
       opacity: 0;
       transition: all 0.10s ease 0.10s;
   }
   
   .content_social.active {
   
       margin: 3% 3% 3% 3%;
       font-size: 15px;
       display: flex;
       
   
       transform: translate(0%, 0%);
       opacity: 1;
   }

   .social_png {

       margin: 3% 3% 3% 3%;
       width: 15px;
       height: auto;
       display: flex;
   }
}