.vector_text {

    height: 100%;
    width: 70%;
    border: 1px solid rgb(195, 190, 190);
    border-radius: 10px;
    padding: 15px;
}

.vector_name {

    font-size: 60px;
    -webkit-text-stroke: 3px rgb(195, 190, 190);
    color: rgba(244,246,245,0.0);
    white-space: nowrap;
    margin-bottom: 20px;

}

.vector_title {

    font-size: 25px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1250px) {

    .vector_name {

        font-size: 33px;
        -webkit-text-stroke: 3px rgb(195, 190, 190);
        color: rgba(244,246,245,0.0);
        white-space: nowrap;
        margin-bottom: 20px;
    
    }

    .vector_title {

        font-size: 22px;
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 700px) {

    .vector_name {

        font-size: 33px;
        -webkit-text-stroke: 3px rgb(195, 190, 190);
        color: rgba(244,246,245,0.0);
        white-space: nowrap;
        margin-bottom: 10px;
    
    }

    .vector_title {

        font-size: 20px;
        margin-bottom: 20px;
    }

    .vector_text {

        height: 150px;
        width: 70%;
        border: 1px solid rgb(195, 190, 190);
        border-radius: 10px;
        padding: 10px;
    }
}